.body {
    font-family:'Roboto','sans-serif';
    font-family:'Montserrat','sans-serif';
}

.august {
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #818181;

mix-blend-mode: normal;
}
.fastest {
    font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
color: #1E0606;
}
.fastest:hover {
    text-decoration-line: underline;

}

.direct {
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;



color: #1E0606;
}

.mini-mini {
   display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.conteiner-mini {

    flex-wrap: wrap;
    width: 380px;
    /* margin-top: 20px; */
}
.pages {

    margin-top: 50px
}

.pages-pages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
}

.arrow-4-pages {
    border: 0;
    background: none;
    
}
.arrows-l-r {
    width: 13px;
}
.number {
    border: 0;
    background: none;
    
}
.number:hover {
    opacity: 0.5;
}
.button-number {
    display: flex;
    width: 215px;
    justify-content: space-between;
}
.conteiner-mini-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.vector-button-head {
    
    list-style-type: none;
    padding-left: 0;     
    display: flex;
    align-items: center;
    
}

.nav-vector-button-home {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
margin-right: 20px;
}
.vector {
    
    margin-right: 20px;


}
.nav-vector-button-catalog {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
opacity: 0.5;
}
.category-products {
    margin-top: 60px;
}
.category-title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
margin-top: 90px;
}
.category-title-second {
    font-family: 'Montserrat';
   font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
}
.show{
    opacity: 0;
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 0;
    width: 0;
    transform: scale(0);
}