
.category-title-second {
    font-family: 'Montserrat';
   font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
}

.category-products {
    margin-top: 60px;
}

.vector-button {
    margin-top: 15px;
}

.vector {
    
    margin-right: 20px;


}

.vector-button-head {
    
    list-style-type: none;
    padding-left: 0;     
    display: flex;
    align-items: center;
    
}

.nav-vector-button-home {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
margin-right: 20px;
}

.nav-vector-button-catalog {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
opacity: 0.5;
}

.image-category {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.product-description {
    display: flex;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.product-description-text-head {
    
    
    align-items: flex-start;
}

.product-description-text {
    display: flex;
    justify-content: center;

    

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.second-conteiner {
    width: 680px;
    margin-bottom: 60px;
    
}

.three {
    margin-right: 270px;
}

.fourth {
    margin-left: 170px;
}

.last-image {

    margin-right: 100px;
}
.later {
    position: relative;
}

.lattery {
    position: relative;
    

}


.lattery-a {
    position: absolute;
    left:  8.14%;
    right: 22.5%;
    top: 24.15%;
    transform: translate(10%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    
    text-transform: uppercase;
    color: #FFFFFF;
}
.lattery-a:hover {
    text-decoration-line: underline;
}

.lattery-zz{
   
    position: absolute;
left: 7.14%;
right: 22.5%;
top: 27.15%;
transform: translate(10%);
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.lattery-zz:hover {
    text-decoration-line: underline;
}
